html, body {
	overflow: auto;
}

.toggle-button {
	position: absolute;
	top: 20px;
	left: 4px;
	z-index: 2;
}

#slideout-menu button {
	width: 100%;
	font-size: 24px;
	text-align: left;
	padding-left: 10px;
}

#slideout-menu h2 {
	text-align: center;
}

@media (max-width: 768px) {
	.content {
		background: white;
		-webkit-box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.25);
		-moz-box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.25);
		box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.25);
	}
}

.bttn {
	border: none;
	outline: none;
	background: transparent;
}

.header h1, .header h3 {
	margin-bottom: 0px;
}

.header h3 {
	margin-top: 30px;
}

.header h3 a {
	margin-left: 20px;
}

.header h3 a:hover {
	background: rgba(0,0,0,0.1);
}

.header a {
	text-decoration: none;
}

a:link, a:hover, a:active, a:visited {
	color: inherit;
}

.calEvent {
	border-radius: 0px;
	border-width: 2px;
}

.color-1 {
	background: #cc99cc;
}

.color-2 {
	background: #f2777a;
}

.color-3 {
	background: #6699cc;
}

.color-4 {
	background: #99cc99;
}

.filterBar div div {
	padding: 2px;
}

.keyLabel {
	margin-bottom: -20px;
	margin-top: -10px;
}

.filterBar div div div div {
	background: rgba(255, 255, 255, 0.25);
}

.filterBar div div div h5 {
	opacity: 1;
	color: white;
}

.hangoutTitle {
	width: 100%;
	text-align: center;
	font-size: 20px;
}
